h2 {
    margin: 6px;
    padding: 6px; /* Relleno */
    border:solid;
    border-color:pink;
   
  }
h2 {
    text-align: center;
    color:rgb(168, 0, 36);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
li {
    color: white;
    text-align:left;
  }
h1 {
    font-size:xx-large;
}
